<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.txdata.flow.dao.FormReloDao">

    <sql id="formReloColumns">
    	a.`id` AS "id",
    	a.`node_id` AS "nodeId",
    	a.`form` AS "form"
    </sql>
    
    <sql id="leftJion">
    </sql>
    
	<select id="get" resultType="FormReloDO">
		SELECT  
		<include refid="formReloColumns"/>
		FROM flow_form_relo a
		<include refid="leftJion"/>
		WHERE a.id = #{value}
	</select>

	<select id="list" resultType="FormReloDO">
		SELECT 
        <include refid="formReloColumns"/>
        FROM flow_form_relo a
        <include refid="leftJion"/>
        <where> 
           <if test="entity.id != null and entity.id != ''"> 
		  		AND a.id = #{entity.id}
		   </if>		
           <if test="entity.nodeId != null and entity.nodeId != ''"> 
		  		AND a.node_id = #{entity.nodeId}
		   </if>		
           <if test="entity.form != null and entity.form != ''"> 
		  		AND a.form = #{entity.form}
		   </if>		
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO flow_form_relo
		<trim prefix="(" suffix=")" suffixOverrides="," >
					<if test="id != null">`id`,</if>
					<if test="nodeId != null">`node_id`,</if>
					<if test="form != null">`form`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="nodeId != null">#{nodeId},</if>
			<if test="form != null">#{form},</if>
		</trim>
	</insert>
	 
	<update id="update">
		UPDATE flow_form_relo 
		<set>
				<if test="nodeId != null">`node_id` = #{nodeId},</if>
				<if test="form != null">`form` = #{form}</if>
		</set>
		WHERE id = #{id} 
	</update>
	
	<update id="remove">
		UPDATE flow_form_relo 
		SET `del_flag` = '1'
		WHERE id = #{value}
	</update>
	
	<update id="batchRemove">
		UPDATE flow_form_relo 
		SET `del_flag` = '1'
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
	<delete id="delete">
		DELETE FROM flow_form_relo 
		WHERE id = #{value}
	</delete>
	
	<delete id="batchDelete">
		DELETE FROM flow_form_relo 
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<insert id="batchInsert">
		INSERT INTO flow_form_relo
		(
			`id`,
			`node_id`,
			`form`
		)
		VALUES
		<foreach item="formRelo" collection="list" separator=",">
		(
			#{formRelo.id},
			#{formRelo.nodeId},
			#{formRelo.form}
		)
		</foreach>
	</insert>
	 
	<update id="batchUpdate">
		<foreach item="formRelo" collection="list" separator=";">
			UPDATE flow_form_relo 
			<set>
				<if test="formRelo.nodeId != null">`node_id` = #{formRelo.nodeId},</if>
				<if test="formRelo.form != null">`form` = #{formRelo.form}</if>
			</set>
			WHERE id = #{formRelo.id} 
		</foreach>
	</update>
	
	<update id="updateByWhere">
		UPDATE flow_form_relo 
		<set>
			<if test="param.nodeId != null">`node_id` = #{param.nodeId},</if>
			<if test="param.form != null">`form` = #{param.form}</if>
		</set>
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.form != null and where.form != ''"> 
		  		AND form = #{where.form}
		   </if>
		</where>
	</update>
	
	<update id="removeByWhere">
		UPDATE flow_form_relo 
		SET `del_flag` = '1'
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.form != null and where.form != ''"> 
		  		AND form = #{where.form}
		   </if>
		</where>
	</update>
	
	<delete id="deleteByWhere">
		DELETE FROM flow_form_relo 
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.form != null and where.form != ''"> 
		  		AND form = #{where.form}
		   </if>
		</where>
	</delete>
</mapper>