<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.txdata.flow.dao.OrderDao">

    <sql id="orderColumns">
    	a.`id` AS "id",
    	a.`proc_id` AS "procId",
    	a.`state` AS "state",
    	a.`sort` AS "sort",
    	a.`create_date` AS "createDate",
    	a.`create_by` AS "createBy",
    	a.`update_date` AS "updateDate",
    	a.`update_by` AS "updateBy",
    	a.`del_flag` AS "delFlag"
    </sql>
    
    <sql id="leftJion">
    </sql>
    
	<select id="get" resultType="OrderDO">
		SELECT  
		<include refid="orderColumns"/>
		FROM flow_order a
		<include refid="leftJion"/>
		WHERE a.id = #{value}
	</select>

	<select id="list" resultType="OrderDO">
		SELECT 
        <include refid="orderColumns"/>
        FROM flow_order a
        <include refid="leftJion"/>
        <where> 
           <if test="entity.id != null and entity.id != ''"> 
		  		AND a.id = #{entity.id}
		   </if>		
           <if test="entity.procId != null and entity.procId != ''"> 
		  		AND a.proc_id = #{entity.procId}
		   </if>		
           <if test="entity.state != null and entity.state != ''"> 
		  		AND a.state = #{entity.state}
		   </if>		
           <if test="entity.sort != null and entity.sort != ''"> 
		  		AND a.sort = #{entity.sort}
		   </if>		
           <if test="entity.createDate != null and entity.createDate != ''"> 
		  		AND a.create_date = #{entity.createDate}
		   </if>		
           <if test="entity.createBy != null and entity.createBy != ''"> 
		  		AND a.create_by = #{entity.createBy}
		   </if>		
           <if test="entity.updateDate != null and entity.updateDate != ''"> 
		  		AND a.update_date = #{entity.updateDate}
		   </if>		
           <if test="entity.updateBy != null and entity.updateBy != ''"> 
		  		AND a.update_by = #{entity.updateBy}
		   </if>		
           <if test="entity.delFlag != null and entity.delFlag != ''"> 
		  		AND a.del_flag = #{entity.delFlag}
		   </if>
		   <if test="entity.delFlag == null or entity.delFlag == ''"> 
		  		AND a.del_flag = '0'
		   </if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO flow_order
		<trim prefix="(" suffix=")" suffixOverrides="," >
					<if test="id != null">`id`,</if>
					<if test="procId != null">`proc_id`,</if>
					<if test="state != null">`state`,</if>
					<if test="sort != null">`sort`,</if>
					<if test="createDate != null">`create_date`,</if>
					<if test="createBy != null">`create_by`,</if>
					<if test="updateDate != null">`update_date`,</if>
					<if test="updateBy != null">`update_by`,</if>
					<if test="delFlag != null">`del_flag`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="procId != null">#{procId},</if>
			<if test="state != null">#{state},</if>
			<if test="sort != null">#{sort},</if>
			<if test="createDate != null">#{createDate},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="updateDate != null">#{updateDate},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="delFlag != null">#{delFlag},</if>
		</trim>
	</insert>
	 
	<update id="update">
		UPDATE flow_order 
		<set>
				<if test="procId != null">`proc_id` = #{procId},</if>
				<if test="state != null">`state` = #{state},</if>
				<if test="sort != null">`sort` = #{sort},</if>
				<if test="createDate != null">`create_date` = #{createDate},</if>
				<if test="createBy != null">`create_by` = #{createBy},</if>
				<if test="updateDate != null">`update_date` = #{updateDate},</if>
				<if test="updateBy != null">`update_by` = #{updateBy},</if>
				<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		WHERE id = #{id} 
	</update>
	
	<update id="remove">
		UPDATE flow_order 
		SET `del_flag` = '1'
		WHERE id = #{value}
	</update>
	
	<update id="batchRemove">
		UPDATE flow_order 
		SET `del_flag` = '1'
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
	<delete id="delete">
		DELETE FROM flow_order 
		WHERE id = #{value}
	</delete>
	
	<delete id="batchDelete">
		DELETE FROM flow_order 
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<insert id="batchInsert">
		INSERT INTO flow_order
		(
			`id`,
			`proc_id`,
			`state`,
			`sort`,
			`create_date`,
			`create_by`,
			`update_date`,
			`update_by`,
			`del_flag`
		)
		VALUES
		<foreach item="order" collection="list" separator=",">
		(
			#{order.id},
			#{order.procId},
			#{order.state},
			#{order.sort},
			#{order.createDate},
			#{order.createBy},
			#{order.updateDate},
			#{order.updateBy},
			#{order.delFlag}
		)
		</foreach>
	</insert>
	 
	<update id="batchUpdate">
		<foreach item="order" collection="list" separator=";">
			UPDATE flow_order 
			<set>
				<if test="order.procId != null">`proc_id` = #{order.procId},</if>
				<if test="order.state != null">`state` = #{order.state},</if>
				<if test="order.sort != null">`sort` = #{order.sort},</if>
				<if test="order.createDate != null">`create_date` = #{order.createDate},</if>
				<if test="order.createBy != null">`create_by` = #{order.createBy},</if>
				<if test="order.updateDate != null">`update_date` = #{order.updateDate},</if>
				<if test="order.updateBy != null">`update_by` = #{order.updateBy},</if>
				<if test="order.delFlag != null">`del_flag` = #{order.delFlag}</if>
			</set>
			WHERE id = #{order.id} 
		</foreach>
	</update>
	
	<update id="updateByWhere">
		UPDATE flow_order 
		<set>
			<if test="param.procId != null">`proc_id` = #{param.procId},</if>
			<if test="param.state != null">`state` = #{param.state},</if>
			<if test="param.sort != null">`sort` = #{param.sort},</if>
			<if test="param.createDate != null">`create_date` = #{param.createDate},</if>
			<if test="param.createBy != null">`create_by` = #{param.createBy},</if>
			<if test="param.updateDate != null">`update_date` = #{param.updateDate},</if>
			<if test="param.updateBy != null">`update_by` = #{param.updateBy},</if>
			<if test="param.delFlag != null">`del_flag` = #{param.delFlag}</if>
		</set>
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.procId != null and where.procId != ''"> 
		  		AND proc_id = #{where.procId}
		   </if>
           <if test="where.state != null and where.state != ''"> 
		  		AND state = #{where.state}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
		</where>
	</update>
	
	<update id="removeByWhere">
		UPDATE flow_order 
		SET `del_flag` = '1'
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.procId != null and where.procId != ''"> 
		  		AND proc_id = #{where.procId}
		   </if>
           <if test="where.state != null and where.state != ''"> 
		  		AND state = #{where.state}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
		</where>
	</update>
	
	<delete id="deleteByWhere">
		DELETE FROM flow_order 
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.procId != null and where.procId != ''"> 
		  		AND proc_id = #{where.procId}
		   </if>
           <if test="where.state != null and where.state != ''"> 
		  		AND state = #{where.state}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
		</where>
	</delete>
</mapper>