<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.txdata.flow.dao.ProcessChooseDao">

    <sql id="processChooseColumns">
    	a.`id` AS "id",
    	a.`node_id` AS "nodeId",
    	a.`value` AS "value",
    	a.`type` AS "type",
    	a.`create_date` AS "createDate",
    	a.`create_by` AS "createBy",
    	a.`update_date` AS "updateDate",
    	a.`update_by` AS "updateBy",
    	a.`del_flag` AS "delFlag",
    	a.`sort` AS "sort",
    	a.`order_id` AS "orderId"
    </sql>
    
    <sql id="leftJion">
    </sql>
    
	<select id="get" resultType="ProcessChooseDO">
		SELECT  
		<include refid="processChooseColumns"/>
		FROM flow_process_choose a
		<include refid="leftJion"/>
		WHERE a.id = #{value}
	</select>

	<select id="list" resultType="ProcessChooseDO">
		SELECT 
        <include refid="processChooseColumns"/>
        FROM flow_process_choose a
        <include refid="leftJion"/>
        <where> 
           <if test="entity.id != null and entity.id != ''"> 
		  		AND a.id = #{entity.id}
		   </if>		
           <if test="entity.nodeId != null and entity.nodeId != ''"> 
		  		AND a.node_id = #{entity.nodeId}
		   </if>		
           <if test="entity.value != null and entity.value != ''"> 
		  		AND a.value = #{entity.value}
		   </if>		
           <if test="entity.type != null and entity.type != ''"> 
		  		AND a.type = #{entity.type}
		   </if>		
           <if test="entity.createDate != null and entity.createDate != ''"> 
		  		AND a.create_date = #{entity.createDate}
		   </if>		
           <if test="entity.createBy != null and entity.createBy != ''"> 
		  		AND a.create_by = #{entity.createBy}
		   </if>		
           <if test="entity.updateDate != null and entity.updateDate != ''"> 
		  		AND a.update_date = #{entity.updateDate}
		   </if>		
           <if test="entity.updateBy != null and entity.updateBy != ''"> 
		  		AND a.update_by = #{entity.updateBy}
		   </if>		
           <if test="entity.delFlag != null and entity.delFlag != ''"> 
		  		AND a.del_flag = #{entity.delFlag}
		   </if>
		   <if test="entity.delFlag == null or entity.delFlag == ''"> 
		  		AND a.del_flag = '0'
		   </if>
           <if test="entity.sort != null and entity.sort != ''"> 
		  		AND a.sort = #{entity.sort}
		   </if>		
           <if test="entity.orderId != null and entity.orderId != ''"> 
		  		AND a.order_id = #{entity.orderId}
		   </if>		
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO flow_process_choose
		<trim prefix="(" suffix=")" suffixOverrides="," >
					<if test="id != null">`id`,</if>
					<if test="nodeId != null">`node_id`,</if>
					<if test="value != null">`value`,</if>
					<if test="type != null">`type`,</if>
					<if test="createDate != null">`create_date`,</if>
					<if test="createBy != null">`create_by`,</if>
					<if test="updateDate != null">`update_date`,</if>
					<if test="updateBy != null">`update_by`,</if>
					<if test="delFlag != null">`del_flag`,</if>
					<if test="sort != null">`sort`,</if>
					<if test="orderId != null">`order_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="nodeId != null">#{nodeId},</if>
			<if test="value != null">#{value},</if>
			<if test="type != null">#{type},</if>
			<if test="createDate != null">#{createDate},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="updateDate != null">#{updateDate},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="delFlag != null">#{delFlag},</if>
			<if test="sort != null">#{sort},</if>
			<if test="orderId != null">#{orderId},</if>
		</trim>
	</insert>
	 
	<update id="update">
		UPDATE flow_process_choose 
		<set>
				<if test="nodeId != null">`node_id` = #{nodeId},</if>
				<if test="value != null">`value` = #{value},</if>
				<if test="type != null">`type` = #{type},</if>
				<if test="createDate != null">`create_date` = #{createDate},</if>
				<if test="createBy != null">`create_by` = #{createBy},</if>
				<if test="updateDate != null">`update_date` = #{updateDate},</if>
				<if test="updateBy != null">`update_by` = #{updateBy},</if>
				<if test="delFlag != null">`del_flag` = #{delFlag},</if>
				<if test="sort != null">`sort` = #{sort},</if>
				<if test="orderId != null">`order_id` = #{orderId}</if>
		</set>
		WHERE id = #{id} 
	</update>
	
	<update id="remove">
		UPDATE flow_process_choose 
		SET `del_flag` = '1'
		WHERE id = #{value}
	</update>
	
	<update id="batchRemove">
		UPDATE flow_process_choose 
		SET `del_flag` = '1'
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
	<delete id="delete">
		DELETE FROM flow_process_choose 
		WHERE id = #{value}
	</delete>
	
	<delete id="batchDelete">
		DELETE FROM flow_process_choose 
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<insert id="batchInsert">
		INSERT INTO flow_process_choose
		(
			`id`,
			`node_id`,
			`value`,
			`type`,
			`create_date`,
			`create_by`,
			`update_date`,
			`update_by`,
			`del_flag`,
			`sort`,
			`order_id`
		)
		VALUES
		<foreach item="processChoose" collection="list" separator=",">
		(
			#{processChoose.id},
			#{processChoose.nodeId},
			#{processChoose.value},
			#{processChoose.type},
			#{processChoose.createDate},
			#{processChoose.createBy},
			#{processChoose.updateDate},
			#{processChoose.updateBy},
			#{processChoose.delFlag},
			#{processChoose.sort},
			#{processChoose.orderId}
		)
		</foreach>
	</insert>
	 
	<update id="batchUpdate">
		<foreach item="processChoose" collection="list" separator=";">
			UPDATE flow_process_choose 
			<set>
				<if test="processChoose.nodeId != null">`node_id` = #{processChoose.nodeId},</if>
				<if test="processChoose.value != null">`value` = #{processChoose.value},</if>
				<if test="processChoose.type != null">`type` = #{processChoose.type},</if>
				<if test="processChoose.createDate != null">`create_date` = #{processChoose.createDate},</if>
				<if test="processChoose.createBy != null">`create_by` = #{processChoose.createBy},</if>
				<if test="processChoose.updateDate != null">`update_date` = #{processChoose.updateDate},</if>
				<if test="processChoose.updateBy != null">`update_by` = #{processChoose.updateBy},</if>
				<if test="processChoose.delFlag != null">`del_flag` = #{processChoose.delFlag},</if>
				<if test="processChoose.sort != null">`sort` = #{processChoose.sort},</if>
				<if test="processChoose.orderId != null">`order_id` = #{processChoose.orderId}</if>
			</set>
			WHERE id = #{processChoose.id} 
		</foreach>
	</update>
	
	<update id="updateByWhere">
		UPDATE flow_process_choose 
		<set>
			<if test="param.nodeId != null">`node_id` = #{param.nodeId},</if>
			<if test="param.value != null">`value` = #{param.value},</if>
			<if test="param.type != null">`type` = #{param.type},</if>
			<if test="param.createDate != null">`create_date` = #{param.createDate},</if>
			<if test="param.createBy != null">`create_by` = #{param.createBy},</if>
			<if test="param.updateDate != null">`update_date` = #{param.updateDate},</if>
			<if test="param.updateBy != null">`update_by` = #{param.updateBy},</if>
			<if test="param.delFlag != null">`del_flag` = #{param.delFlag},</if>
			<if test="param.sort != null">`sort` = #{param.sort},</if>
			<if test="param.orderId != null">`order_id` = #{param.orderId}</if>
		</set>
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.value != null and where.value != ''"> 
		  		AND value = #{where.value}
		   </if>
           <if test="where.type != null and where.type != ''"> 
		  		AND type = #{where.type}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.orderId != null and where.orderId != ''"> 
		  		AND order_id = #{where.orderId}
		   </if>
		</where>
	</update>
	
	<update id="removeByWhere">
		UPDATE flow_process_choose 
		SET `del_flag` = '1'
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.value != null and where.value != ''"> 
		  		AND value = #{where.value}
		   </if>
           <if test="where.type != null and where.type != ''"> 
		  		AND type = #{where.type}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.orderId != null and where.orderId != ''"> 
		  		AND order_id = #{where.orderId}
		   </if>
		</where>
	</update>
	
	<delete id="deleteByWhere">
		DELETE FROM flow_process_choose 
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.nodeId != null and where.nodeId != ''"> 
		  		AND node_id = #{where.nodeId}
		   </if>
           <if test="where.value != null and where.value != ''"> 
		  		AND value = #{where.value}
		   </if>
           <if test="where.type != null and where.type != ''"> 
		  		AND type = #{where.type}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.delFlag != null and where.delFlag != ''"> 
		  		AND del_flag = #{where.delFlag}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
           <if test="where.orderId != null and where.orderId != ''"> 
		  		AND order_id = #{where.orderId}
		   </if>
		</where>
	</delete>

    <select id="count" resultType="int">
        SELECT
            count(*)
        FROM
            flow_process_choose
        <where>
            <if test="where.id != null and where.id != ''">
                AND id = #{where.id}
            </if>
            <if test="where.nodeId != null and where.nodeId != ''">
                AND node_id = #{where.nodeId}
            </if>
            <if test="where.value != null and where.value != ''">
                AND value = #{where.value}
            </if>
            <if test="where.type != null and where.type != ''">
                AND type = #{where.type}
            </if>
            <if test="where.createDate != null and where.createDate != ''">
                AND create_date = #{where.createDate}
            </if>
            <if test="where.createBy != null and where.createBy != ''">
                AND create_by = #{where.createBy}
            </if>
            <if test="where.updateDate != null and where.updateDate != ''">
                AND update_date = #{where.updateDate}
            </if>
            <if test="where.updateBy != null and where.updateBy != ''">
                AND update_by = #{where.updateBy}
            </if>
            <if test="where.delFlag != null and where.delFlag != ''">
                AND del_flag = #{where.delFlag}
            </if>
            <if test="where.sort != null and where.sort != ''">
                AND sort = #{where.sort}
            </if>
        </where>
    </select>

    <select id="findOtherActor" resultType="ProcessChooseDO">
        SELECT
            <include refid="processChooseColumns"/>
        FROM
            flow_process_choose a
        WHERE
        a.id NOT IN
        <foreach collection="actorIdList" open="(" separator="," close=")" item="actorId">
            #{actorId}
        </foreach>
        AND node_id = #{nodeId}
    </select>
</mapper>