<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yexiao.demo.mapper.UserMapper">

    <resultMap id="userInfo" type="com.yexiao.demo.domain.UserDO" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="roleList"  ofType="com.yexiao.demo.domain.RoleDO">
            <id column="roleId" property="id"></id>
            <result column="roleName" property="name"></result>
            <result column="roleAlias" property="alias"></result>
            <collection property="permissionList"  ofType="com.yexiao.demo.domain.PermissionDO">
                <id column="permissionId" property="id"></id>
                <result column="permissionName" property="name"></result>
                <result column="permissionAlias" property="alias"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="verificationUserName" resultType="int">
        select count(*) from sys_user where username = #{value}
    </select>


    <delete id="removeById">
        delete from sys_user where id = #{value}
    </delete>

    <select id="findUserInfo" resultMap="userInfo">
        SELECT
            u.id,
            u.username,
            u.PASSWORD,
            u.NAME,
            u.sex,
            u.mobile,
            r.id AS roleId,
            r.`name` AS roleName,
            r.alias AS roleAlias,
            p.id AS permissionId,
            p.`name` AS permissionName,
            p.alias AS permissionAlias
        FROM
            sys_user u
            LEFT JOIN sys_user_role ur ON u.id = ur.user_id
            LEFT JOIN sys_role r ON ur.role_id = r.id
            LEFT JOIN sys_role_permission rp ON r.id = rp.role_id
            LEFT JOIN sys_permission p ON rp.permission_id = p.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.id = #{userId}
            </if>
        </where>
    </select>

</mapper>